<div id='footer' class='footer-wrapper'>
  <div class='footer-email-popup-wrapper'>
  </div>
  <div class='footer'>
      <div class='footer-upper-column'>
      <div class='footer-heading-wrapper'>
          Interseted in collaboration
      </div>
      <div class='footer-lets-talk-button-wrapper'>
      </div>
      </div>
      <div class='footer-bottom-column'>
      <div  class='general-contact-information-column'>
           <div class='general-contact-information-heading'>
             Guru
             </div>
           <div class='general-contact-information-address'>
             Harayana, Gurugran,, sector 28
           </div>
           <div class='general-contact-information-phone-number'>
             +91 95015-74941
           </div>
           <div class='general-contact-information-emial'>
               Gurshran4544@gmail.com
          </div>
</div>
          <div class='links-row-ctn'>

          </div>
      </div>

  </div>
</div>
