.lets-talk-button-wrapper{
  border-radius: 3px;
  background-color: #00adff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
}



.lets-talk-button-wrapper:hover{
  background-color: rgb(10, 238, 238);
}

.lets-talk-button{
  font-size: 10px;
  color: white;
}
