<div class="nav-bar-wrapper">
  <ul class="navbar-links-wrapper">
    <li class="navbar-link-main-logo-wrapper">
      <app-logo></app-logo>
     </li>
    <li class="navbar-link-wrapper">
      <span class="navbar-link-Home-page">
        Home
      </span>
    </li>
    <li class="navbar-link-wrapper">
      <span class="navbar-link-about-page">
        About
      </span>
    </li>
    <li class="navbar-link-wrapper">
      <span class="navbar-link--page">
        Projects
      </span>
    </li>
  </ul>

  <div class="let-talk-button-ctn">
    <app-email-button></app-email-button>
  </div>
</div>
