<div class="projects-flip-card">

  <div class="projects-flip-card-inner">
        <div  class="projects-flip-card-front">
              <div class='projects-flip-card-content-wrapper'>
                <div class='projects-flip-card-text-content-wrapper'>
                     <div class='projects-flip-card-text-content'>
                         <div class='projects-flip-card-text-heading'>
                           {{title}}
                         </div>
                         <div class='projects-flip-card-project-description'>
                           {{des}}
                          </div>
                     </div>
                </div>
                <div class='projects-flip-card-image-wrapper'>
                  <img src={{photo}} class='projects-flip-card-image' alt="image"/>
                </div>
              </div>
      </div>

             <div  class="projects-flip-card-back">


</div>
</div>
</div>
