<div class='about-page-card-outter-wrapper'>
  <div class='about-page-card-inner-card-wrapper'>
  <div class='about-page-card-inner-card'>

  </div>
  <div class='about-page-card-right-side'>
  <div class='about-page-card-right-text-column'>
      <span class='about-page-card-column-heading'>EDUCATION</span>
      <p class='about-page-card-first-column-texting'>
          I am a Self taught software enginer. I have learned everything by my self initialy it was just an hobby but now i think i can do it professionaly.
      </p>
  </div>
  <div class='about-page-card-right-text-column'>
      <span class='about-page-card-column-heading'>Interests</span>
      <p class='about-page-card-second-column-texting'>
          I am a Self taught software enginer. I have learned everything by my self initialy it was just an hobby but now i think i can do it professionaly.
      </p>
  </div>
  </div>
  <div class='about-page-card-bottom-side'>
  <div class='about-page-card-bottom-text-column'>
      <span class='about-page-card-column-heading'>Skills</span>
      <p class='about-page-card-third-column-texting'>
          I am a Self taught software enginer. I have learned everything by my self initialy it was just an hobby but now i think i can do it professionaly.
      </p>
  </div>
  <div class='about-page-card-bottom-text-column'>
      <span class='about-page-card-column-heading'>Projects</span>
      <p class='about-page-card-third-column-texting'>
          I am a Self taught software enginer. I have learned everything by my self initialy it was just an hobby but now i think i can do it professionaly.
      </p>
  </div>
  <div class='about-page-card-bottom-text-column'>
      <span class='about-page-card-column-heading'>Bio</span>
      <p class='about-page-card-third-column-texting'>
          I am a Self taught software enginer. I have learned everything by my self initialy it was just an hobby but now i think i can do it professionaly.
      </p>
  </div>
  </div>
  </div>
</div>
