<div class='skills-column-wrapper'>
  <div class='skills-column'>
            <div class='skills-column-heading-wrapper'>
                <span class='skills-column-heading'>
                    My Skills
                </span>
            </div>
            <div class='skills-column-description-text-wrapper'>
                <p class='skills-column-description-text'>We like to build close relationships with our clients. We believe dynamic collaboration is the only way to get the job done well. See what they said about us in </p>
            </div>


  </div>
  <div class='skills-listing-box-wrapper'>
            <app-skill-name>
            </app-skill-name>
            </div>
            <div class='footer-ctn'>

            </div>
</div>
