<div class='skill-box'>
  <span id='skill-name-one' class='skill-name-box-upper'>
   React.js
  </span>
  <span id='skill-name-two' class='skill-name-box-upper'>
   Redux
  </span>
  <span id='skill-name-three' class='skill-name-box-upper'>
   React.Native
  </span>
  <span id='skill-name-four' class='skill-name-box-upper'>
   Javascript
  </span>
  <span id='skill-name-five' class='skill-name-box-upper'>
   Typscript
  </span>
  <span id='skill-name-six' class='skill-name-box-upper'>
    jquery
  </span>
  <span id='skill-name-seven' class='skill-name-box-down'>
   HtML5
  </span>
  <span id='skill-name-eight' class='skill-name-box-down'>
   CSS3
  </span>
  <span id='skill-name-nine' class='skill-name-box-down'>
   SAAS
  </span>
  <span id='skill-name-ten' class='skill-name-box-down'>
   firebase
  </span>
  <span id='skill-name-eleven' class='skill-name-box-down'>
   Nodejs
  </span>
  <span id='skill-name-twelve' class='skill-name-box-down'>
    Wordpress
  </span>
</div>
